h2 {
  font-weight: bold;
}

span {
  font-weight: bold;
  color: indigo;
}

input[type=text] {
  vertical-align: middle;
  height: 38px;
  width: 130px;
  box-sizing: border-box;
  border: 2px solid #00B4CC;
  border-radius: 4px;
  font-size: 16px;
  color: black;
  background-color: white;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px;
  -webkit-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
  display: inline;
}
input[type=text]:focus {
  width: 180px;
}

input[type=submit] {
  line-height: 0px;
}

.searchButton {
  height: 38px;
  vertical-align: middle;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  padding: 0px 5px 0px 7px;
}

.fa-search:before {
  display: inline-block;
  width: 100%;
  color: white;
  font-size: 20px;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
  background-color: white;
  vertical-align: middle;
}

.table > thead > tr > th {
  background-color: darkslategray;
}

.table {
  width:95%;
  margin-left: 25px;
}